body {
    background-color: #4b6966;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow: hidden
}

#root {
    position: relative;
    background-color: #2e403e;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 20px auto;
    height: 400px;
    width: 600px;
}

#answer {
    box-sizing: border-box;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    text-align: center;
}

#question {
    font-size: 40px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 5px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

#btn {
    font-size: 50px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 105px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    height: 40px;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.inactive {
    background-color: #4CAF50;
}

.active {
    color: black;
    background-color: #cacfae;
}

#timer {
    font-size: 50px;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    height: 40px;
}

#options {
    position: absolute;
    border: none;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    width: 440px;
    height: 80px;
    font-size: 16px;
}

.checkboxgroup {
    width: 20em;
    overflow: auto;
}

.checkboxgroup p {
    width: 7em;
    text-align: right;
}

.checkboxgroup label {
    width: 12em;
    float: right;
}

.title {
    text-align: center;
    padding: 5px;
}

#title {
    font-size: large;
}

@media only screen and (max-width: 600px) {
    #root {
        margin: 10px auto;
        height: 550px;
        width: 340px;
    }
    #answer {
        top: 30%;
    }
    #question {
        font-size: 28px;
        top: 15%;
    }
    #btn {
        top: 20%;
    }
    #timer {
        top: 55%;
    }
}